
.mat-card{
  .mat-card-title{
    font-size: 1rem;
  }
  font-size: 0.68rem;
  .mat-card-content{
    font-size: inherit;
  }
  width: 20vw;
  overflow: scroll;
}
.container-column{
  width: 20vw;
}
