.card{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  flex-grow: 1;
  mat-card{
    padding: 5rem;
    max-width: 50vw;
    align-items: center;
    display: flex;
    flex-direction: column;


    mat-card-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-self: center;
    }
  }
}
